<div class="bubble_wrapper bubble_4_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>LINES</span>
  </div>
  <%= image_tag "lines_1.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_2.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_3.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_4.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_5.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_6.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_7.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_8.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_9.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_10.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_11.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_12.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_13.jpg", class: "projet_trou_img" %>
  <%= image_tag "lines_14.jpg", class: "projet_trou_img" %>
</div>
