<div class="bubble_wrapper bubble_4_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>TROUS</span>
  </div>
  <%= image_tag "lines_1", class: "projet_trou_img" %>
  <%= image_tag "lines_2", class: "projet_trou_img" %>
  <%= image_tag "lines_3", class: "projet_trou_img" %>
  <%= image_tag "lines_4", class: "projet_trou_img" %>
  <%= image_tag "lines_5", class: "projet_trou_img" %>
  <%= image_tag "lines_1", class: "projet_trou_img" %>
  <%= image_tag "lines_2", class: "projet_trou_img" %>
  <%= image_tag "lines_3", class: "projet_trou_img" %>
  <%= image_tag "lines_4", class: "projet_trou_img" %>
  <%= image_tag "lines_5", class: "projet_trou_img" %>
  <%= image_tag "lines_1", class: "projet_trou_img" %>
  <%= image_tag "lines_2", class: "projet_trou_img" %>
  <%= image_tag "lines_3", class: "projet_trou_img" %>
  <%= image_tag "lines_4", class: "projet_trou_img" %>
  <%= image_tag "lines_5", class: "projet_trou_img" %>
</div>

