<div class="bubble_wrapper bubble_6_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>LINES</span>
  </div>
  <%= image_tag "trous_1.jpg", class: "projet_trou_img" %>
  <%= image_tag "trous_2.jpg", class: "projet_trou_img" %>
  <%= image_tag "trous_3.jpg", class: "projet_trou_img" %>
  <%= image_tag "trous_4.jpg", class: "projet_trou_img" %>
  <%= image_tag "trous_5.jpg", class: "projet_trou_img" %>
</div>

