<div class="bubble_wrapper bubble_6_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>TROUS</span>
  </div>
  <%= image_tag "trous_1", class: "projet_trou_img" %>
  <%= image_tag "trous_2", class: "projet_trou_img" %>
  <%= image_tag "trous_3", class: "projet_trou_img" %>
  <%= image_tag "trous_4", class: "projet_trou_img" %>
  <%= image_tag "trous_5", class: "projet_trou_img" %>
</div>
