<div class="bubble_wrapper bubble_2_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>TULIPES</span>
  </div>
  <%= image_tag "tulipes_1", class: "projet_trou_img" %>
  <%= image_tag "tulipes_2", class: "projet_trou_img" %>
  <%= image_tag "tulipes_3", class: "projet_trou_img" %>
  <%= image_tag "tulipes_4", class: "projet_trou_img" %>
  <%= image_tag "tulipes_5", class: "projet_trou_img" %>
  <%= image_tag "tulipes_6", class: "projet_trou_img" %>
  <%= image_tag "tulipes_7", class: "projet_trou_img" %>
  <%= image_tag "tulipes_8", class: "projet_trou_img" %>
  <%= image_tag "tulipes_9", class: "projet_trou_img" %>
  <%= image_tag "tulipes_10", class: "projet_trou_img" %>
  <%= image_tag "tulipes_11", class: "projet_trou_img" %>
  <%= image_tag "tulipes_12", class: "projet_trou_img" %>
  <%= image_tag "tulipes_13", class: "projet_trou_img" %>
  <%= image_tag "tulipes_14", class: "projet_trou_img" %>
</div>
