<div class="bubble_wrapper bubble_2_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>TULIPES</span>
  </div>
  <%= image_tag "tulipes_1.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_2.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_3.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_4.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_5.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_6.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_7.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_8.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_9.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_10.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_11.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_12.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_13.jpg", class: "projet_trou_img" %>
  <%= image_tag "tulipes_14.jpg", class: "projet_trou_img" %>
</div>
