<div class="bubble_wrapper bubble_5_wrapper hidden">
  <div class="bubble_wrapper_title">
    <span>TYPOGRAPHY</span>
  </div>
  <div class="wrappi">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo1.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo2.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo3.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo4.png", class: "projet_typo_img" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo5.jpg", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo6.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo7.jpg", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo8.jpg", class: "projet_typo_img" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo9.jpg", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo10.jpg", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo11.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo12.png", class: "projet_typo_img" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo13.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo21.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo24.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo31.png", class: "projet_typo_img" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo32.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo33.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo34.png", class: "projet_typo_img" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "typo35.png", class: "projet_typo_img" %>
      </div>
    </div>
  </div>
</div>
